@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END MEYER REST*/
html, body {
  height: 100%; /* Ensure html and body take full viewport height */
  margin: 0;   /* Remove default margins */
}

html {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

body {
  /* Add any desired styling for the body content */
  width: 80%; /* Example width, adjust as needed */
  border: 1px solid black; /* Optional: adds a visible border */
}
#video container{
	width: auto;
	height: 700px;
	overflow-y:hidden;
	display: flex;
	align-items: flex-start;
	border: 10px #000000 solid
		
}
#video{
	width:auto;
	height: auto;
	max-width:inherit;
	object-position: center,top;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hbox{
	max-width:100%;
	max-height: 100px;
}
.box {
	width: 450px;
	height: 100px;
}

#text {
	width: auto;
	height: 1200px;
	max-width: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px
}
#htext{
	max-width:100%;
	max-height: 200px;
	padding: 10px,20px;
	justify-content:flex-end;
}
#subtext{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: safe center;
}

p {
	font-family: "Space Grotesk",'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size: 14pt;
	font-weight: 400;
	color: black;
}
h1{
font-family: "Space Grotesk", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
font-size:24pt;
font-weight: 400;
color: black;}	

	
space grotesk{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
	font-style: normal;}
